<form class=" mx-auto mt-5 d-flex flex-column align-items-center" action="/add-product" method="POST">
    <h1 class="h3 mb-3 fw-normal text-white">Product Add</h1>
    <input type="text" name="title" class="form-control w-25 mt-3 mb-2 bg-dark text-white" placeholder="Type name of product">
    <div class="input-group mt-2 mb-2 w-25">
        <span class="input-group-text bg-dark text-white" id="basic-addon1">$</span>
        <input type="text" name="price" class="form-control bg-dark text-white" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">
    </div>
    <input name="image" class="form-control w-25 bg-dark text-white mt-2 mb-2" type="text" placeholder="Image URL">
    <div class="form-floating w-25 mt-2 mb-3">
        <textarea name="description" class="form-control bg-dark text-white" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2" class="text-white">Description</label>
    </div>
    

    
    <input type="submit" class="btn btn-primary w-25" value="Add Product">

    {{#if addError}}
        <div class="alert alert-danger mt-5 opacity" role="alert">
            {{addError}}
        </div>
    {{/if}}
</form>