<form class=" mx-auto mt-5 d-flex flex-column align-items-center" action="/register" method="POST">
    <h1 class="h3 mb-3 fw-normal text-white">Register</h1>

    <input type="text" name="full_name" class="form-control w-25 mt-3 mb-2 bg-dark text-white" placeholder="Full name">
    <input type="email" name="email" class="form-control w-25 mt-3 mb-2 bg-dark text-white" placeholder="Email">
    <input type="password" name="password" name="password" class="form-control w-25 mt-3 mb-5 bg-dark text-white" placeholder="Password">
    <input type="submit" class="btn btn-primary w-25" value="Register">
</form>