<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card bg-dark text-white">
                <div class="card-header"><h1 class="text-white text-center">{{product.title}}</h1></div>
                <div class="card-body">
                    <img src="{{product.image}}" class="card-img-top w-50" alt="image">
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer">
                    <p class="text-white text-center">{{product.price}}.00$</p>
                </div>
            </div>
        </div>
    </div>
</div>